* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
  overflow-x: hidden;
  height: 100vh;
}

.navbar {
  z-index: 9;
  position: fixed;
  display: flex;
  width: 100%;
  height: 50px;
  background: rgba(0, 0, 0, 9);
  opacity: 0.7;
}

.navlogo {
  z-index: 9;
  height: 50px;
  width: auto;
}

.navbar ul {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: center;
}

.navbar ul li {
  margin: 0 1rem;
  padding:1rem;
}

.navbar ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #f4f4f4;
}

.navbar ul li a:hover {
  color:skyblue;
  font-weight: bold;
  text-shadow: mediumslateblue;
}


.v-header {
  height: 100vh;
  display: flex;
  align-items: center;
  color: #fff;
  padding: 20%;
}

.top-container {
  width: 100%;
  text-align: center;
}

.container {
  width: 100%;
  text-align: center;
}

.fullscreen-video-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  
}

.fullscreen-video-wrap video {
  min-width: 100%;
  min-height: 100%;
}

.header-overlay {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top:0;
  left:0;
  background: #225470;
  opacity: 0.8;
  z-index: 1;
}

.header-content {
  z-index: 2;
}

.header-content img {
 border-radius: 50%; 
 padding-bottom: 2rem;
}


.section {
  padding: 20px 0;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.section div h1 {
  font-size: 4rem;
  z-index: 5;
}

.section div p {
  font-size: 1.5rem;
  z-index: 5;
}

.section-a {
  background-color: rgb(133, 149, 192);
}

.section-b {
  display: flex;
  background: url('https://fabioaraujo76.github.io/Videoproductionweb/media/claquete.jpg') no-repeat center center/cover;
  color: #fff;
}

.section-b-overlay {
  height: 100vh;
  width: 100vw;
  position: absolute;
  background: #225470;
  opacity: 0.8;
}

.section-d {
  display: flex;
  background: url('https://fabioaraujo76.github.io/Videoproductionweb/media/lenses.jpg') no-repeat center center/cover;
  color: #fff;
}

.section-d-overlay {
  height: 100vh;
  width: 100vw;
  position: absolute;
  background: #225470;
  opacity: 0.8;
}


.section-c {
  background-color: rgb(133, 149, 192);
}


.section-c h1 {
  text-align: left;
  padding-left: 2rem;
  font-size: medium;
  }



.videocontainer {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 1rem;
}

.videothumb {
  height: 9%;
  width: 20%;
  padding: 1.5rem;
  border: 5px;
  border-right: #333;
  border-bottom: #333;
  z-index: 2;
}

.videothumb:hover {
  transform: scale(1.1);
  transform: rotateX(10%);

}


@media(max-width:960px){
  .container{
    padding-right: 3rem;
    padding-left: 3rem;
  }
  
}

@media(max-width:640px){
  .container{
    padding-right: 4rem;
    padding-left: 4rem;
  }
  .navbar ul li {
    margin: 4px;
    padding:0.6rem;
  }
  .videothumb {
    height: 15%;
    width: 30%;
    padding: 1rem;
  }
}
